@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');
:root {
    --paraBlue: hsl(215, 51%, 70%);
    --ethCyan: hsl(178, 100%, 50%);
    --mainBG: hsl(217, 54%, 11%);
    --cardBG: hsl(216, 50%, 16%);
    --line: hsl(215, 32%, 27%);
    --shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: var(--mainBG);
}
.box-wrapper {
    display: block;
    max-width: 375px;
    background: var(--cardBG);
    padding: 25px 25px;
    margin: 5vw auto;
    border-radius: 15px;
    color: white;
    font-family: 'Outfit', sans-serif;
    box-shadow: var(--shadow);
    

}
img {
    max-width: 100%;
    border-radius: 10px;
}
h1 {
    font-size: 25px;
    padding-top: 20px;
    padding-bottom: 15px;
}
p {
    color: var(--paraBlue);
    font-size: 18px;
}
.box-value {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 15px 0 15px 0;
    align-items: center;
    
}
.box-value .time {
    display: flex;
    align-items: center;
    gap: 5px;
    color: hsl(215, 51%, 70%);
}
.box-value .value {
    display: flex;
    align-items: center;
    gap: 5px;
}
.separator {
    border: 1px solid var(--line);
}
.box-value .value {
    color: var(--ethCyan);
}
.box-meta {
    color: hsl(215, 51%, 70%);
    padding: 10px 0 20px 0;
    display: flex;
    align-items: center;
    row-gap: 20px;
    
}
.box-meta span {
    color: white;
}
.box-meta img {
    width: 25px;
    height: 25px;
    border: 1px solid white;
    border-radius: 50%;
    
}
.box-meta p {
    padding-left: 20px;
    font-size: 14px;
}